/node_modules
/public/hot
/public/storage
/public/css
/public/js
/storage/
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.DS_Store
/public/mix-manifest.json
