.sidemenu
  margin: 0 24px
  width: 200px

  .list__tile
    font-weight: 500

  .icon
    color: inherit;

  @media $display-breakpoints.xs-only
    position: static !important
    margin: 0;
    width: auto;
